            <footer class="footer">
                <div class="flex-s-c f-block">

                </div>
                <div class="copyright">
                    <a href="/"><img src="<?php echo get_config("baseurl"); ?>/template/<?php echo get_config("template");?>/images/footer_logo.png" alt="Logo"></a>
                    &nbsp&nbsp&nbsp<?php echo date('Y') - 1; ?> - <?php echo date('Y'); ?>
                </div>
            </footer>
        </div>
        <script src="<?php echo get_config("baseurl"); ?>/template/<?php echo get_config("template"); ?>/js/jquery-2.1.4.min.js"></script>
    </body>
</html>